
li {
  list-style: inside;
  text-justify: auto;

}


/**********************  EL EQUIPO PAGE *****************/


.heroarea-licencia{

  background-image: url("back7.jpeg");
   background-repeat: no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
   height: 85vh;
   display: flex;
   flex-direction: column;
}



@media (min-width: 1px) {
.heroarea-licencia{
 min-height: 350px;
 height: 50vh;
}


@media (min-width: 600px) {
.heroarea-licencia {
min-height: 400px;
 height: 75vh;
}
}

@media (min-width: 900px) {
.heroarea-licencia {
min-height: 400px;
 height: 85vh;
}
}

@media (min-width: 1400px) {
.heroarea-licencia {
min-height: 700px;
}
}


@media (min-width: 1920px) {
.heroarea-licencia{
min-height: 900px;
}
}


@media (min-width: 2400px) {
.heroarea-licencia{
min-height: 1000px;
}
}


.hero-content-wrappper {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
flex: 1 0 0;
align-self: stretch;
height: 90%;

}

.hero-text-wrapper
{

display: grid;
flex-direction: column;
align-items: baseline;
gap: 5px;
height: 50%;
}

.h14 {
  display: flex;
align-items: center;
gap: 10px;
background: rgba(55, 165, 172, 0.50);
}


.h24 {
  color: #37A5AC;
}





/**********************  WRAPPER BACKGROUND*****************/
.grid-wrapper-background {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  align-self: center;
 justify-self: center;
gap: 60px;
flex-shrink: 0;
width: 100%;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3B3B;
}


@media (min-width: 1px) {
.grid-wrapper-background {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  align-self: center;
 justify-self: center;
gap: 60px;
width: 100%;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3B3B;
}
}




/**********************  WRAPPER CONTENT****************/


.grid-wrapper-content {
  display: grid;
  grid-template-columns: .4fr 1fr;
  flex-direction: row;
  justify-items: center;
  padding: 30px 0px;
}


@media (min-width: 100px) {
.grid-wrapper-content {
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr;
width: 100%;
}
}

@media (min-width: 900px) {
.grid-wrapper-content {
width: 60%;
    grid-template-rows: 1fr;
    grid-template-columns: .5fr 1fr;
}
}

@media (min-width: 1920px) {
.grid-wrapper-content {
width: 50%;
    grid-template-rows: 1fr;
    grid-template-columns: .5fr 1fr;
}
}

@media (min-width: 2400px) {
.grid-wrapper-content {
width: 50%;
grid-gap: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: .5fr 1fr;
}
}


/**********************  WRAPPER LEFT*****************/

.grid-wrapper-dictamenes-left{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
  width: 25vw;
  grid-gap: 10px;
  padding: 20px 20px;
  background: #3790AC;
  justify-self: start;
  margin: 10px 0px;
}

@media (min-width: 1px) {
.grid-wrapper-dictamenes-left{
 padding: 10px 0px;
 grid-gap: 0px;
  align-self: center;
 justify-self: center;
   width: 80vw;
}
}

@media (min-width: 410px) {
.grid-wrapper-dictamenes-left{
 padding: 10px 0px;
  align-self: center;
 justify-self: center;
    width: 70vw;
}
}
@media (min-width: 600px) {
.grid-wrapper-dictamenes-left{
 padding: 10px 0px;
 grid-gap: 10px;
   grid-template-columns: 1fr;
      grid-template-rows:repeat(3, 1fr);
  align-self: start;
 justify-self: center;
     width: 50vw;

}
}

@media (min-width: 900px) {
.grid-wrapper-dictamenes-left{
 
 align-self: start;
 justify-self: center;
   display: grid;
   grid-template-columns: 1fr;
      grid-template-rows:repeat(3, 1fr);
      min-width: 300px;
         width: 25vw;
  }
}



@media (min-width: 1300px) {
.grid-wrapper-dictamenes-left{
 justify-self: center;
}
}

@media (min-width: 1920px) {
.grid-wrapper-dictamenes-left{
 justify-self: center;
 width: 20vw;
  }
}
}

@media (min-width: 2400px) {
.grid-wrapper-dictamenes-left{
 justify-self: center;
 width: 20VW;
}
}

/**********************BOXES 1*****************/
.box-licencia-content {
  height: 100%;
  display: grid;
  grid-template-rows: .1fr .9fr;
  grid-gap: 5px;
}

.box-dictamen {
    margin: 10px;
    min-width: 200px;
    max-width: 350px;
 display: grid;
 grid-template-rows: .1fr .8fr;
 padding: 5px;
max-width: 400px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;

}



@media (min-width: 1px) {
.box-dictamen {
  display: grid;
margin-left: auto;
margin-right: auto;
height: 600px;
}
}

@media (min-width: 300px) {
.box-dictamen {
  display: grid;
margin-left: auto;
margin-right: auto;
min-width: 260px;
height: 400px;
}
}




@media (min-width: 410px) {
.box-dictamen {
  display: grid;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 480px;
border-radius: 0px;
}
}


@media (min-width: 600px) {
.box-dictamen {
  display: grid;
margin-left: auto;
margin-right: auto;
min-width: 150px;
height: 350px;
}
}



@media (min-width: 900px) {
.box-dictamen {
min-width: 200px;
height: 400px;
}
}

@media (min-width: 1100px) {
.box-dictamen {
min-width: 250px;
height: 420px;
}
}


@media (min-width: 1400px) {
.box-dictamen {
min-width: 250px;
height: 450px;
}
}

@media (min-width: 1920px) {
.box-dictamen {
min-width: 250px;
height: 480px;
}
}

@media (min-width: 2400px) {
.box-dictamen {
min-width: 500px;
min-height: 400px;
height: 45vh;
}
}


.title-nombre-equipo{
  padding: 0px 20PX 0px 20px;
  font-family: Bebas Neue;
  font-weight: 800;
text-transform: uppercase;
background-color: transparent;
color: #FFF;
font-family: Bebas Neue;
font-size: calc(30px + 0.6vw);
font-style: normal;
font-weight: 400;
text-transform: uppercase;
margin: 0px;

}


@media (min-width: 100px) {
.title-nombre-equipo {
font-size: calc(24Px + 0.1vw);
}
}

@media (min-width: 1400px) {
.title-nombre-equipo {
font-size: calc(30px + 0.6vw);
}
}
.equipo-description

{

    font-size: 22px;
  padding: 0px 15px 10px 15px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
color: #FFFFFF;
background-color: transparent;
margin: 0px 0px 0px 0px ;
}

.equipo-description-bottom

{

    font-size: calc(10px + .4vw);
    font-weight: 700;
  padding: 0px 15px 0px 15px;
  font-family: 'Raleway', sans-serif;
color: #FFFFFF;
background-color: transparent;
margin: 0px 0px 0px 0px ;
display: block;

}


/********************** GRID WRAPPER RIGHT*****************/

.grid-wrapper-licencia-inferior {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  width: 60%;
 grid-gap: 15px;
}

@media (min-width: 300px) {
  .grid-wrapper-licencia-inferior {
         grid-template-rows: repeat(5, 1fr);
  width: 100%;
   grid-gap: 5px;
  }
}

@media (min-width: 900px) {
  .grid-wrapper-licencia-inferior {
         grid-template-rows: repeat(5, 1fr);
  width: 80%;
     grid-gap: 10px;
  }
}

@media (min-width: 1400px) {
  .grid-wrapper-licencia-inferior {
  width: 80%;
  }
}

@media (min-width: 2400px) {
  .grid-wrapper-licencia-inferior {
  width: 100%;
  }
}


.box-inferior {
  margin: 10px;
  padding: 40px 0px 0px 0px;
  min-width: 200px;
  width: .5fr;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  min-width: 400px;
  flex-direction: column;

}
@media (min-width: 200px) {
  .box-inferior {
    min-width: 200px;
    max-width: 450px ;
    height: 260px;
  }
}

@media (min-width: 600px) {
  .box-inferior {
    min-width: 280px;
    max-width: 450px ;
    height: 240px;
  }
}

@media (min-width: 900px) {
  .box-inferior {
    min-width: 320px;
    max-width: 450px ;
    min-height: 210px;
  }
}

@media (min-width: 1100px) {
  .box-inferior {
    min-width: 320px;
    max-width: 450px ;
    min-height: 220px;
  }
}


@media (min-width: 1400px) {
  .box-inferior {
    min-width: 510px;
    max-width: 550px ;
    min-height: 240px;
  }
}

@media (min-width: 2400px) {
  .box-inferior {
    width: 25VW;
    min-width: 560px;
    max-width: 2000PX;
    min-height: 280PX;
    height: 30VH;
  }
}


.equipo-description-2

{

    font-size: 22px;
  padding: 0px 15px 10px 15px;
  height: 20px;
  font-family: 'Raleway', sans-serif;
color: #FFFFFF;
background-color: transparent;
margin: 0px 0px 0px 0px ;
}



/********************** FOOTER*****************/

.footer-licencia {
background: linear-gradient(180deg, #04BA8E 0%, #01644C 100%);
}

@media (min-width: 1px) {
.footer-licencia {
  display: grid;
justify-items: center;
justify-content: center;
width: 100%;
background: linear-gradient(180deg, #04BA8E 0%, #01644C 100%);
}
}