/********************** ANALISIS FINANCIERO *****************/

.heroarea-3 {
   display: grid;
  grid-template-rows:.8fr 1fr 1fr ;
  grid-template-columns: 1fr;
  width: 100%;
  background-image: url("back4.jpg");
   background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 100%;
  
}


@media (min-width: 300px) {
.heroarea {
 height: 450px;
}

@media (min-width: 900px) {
.heroarea {
 height: 600px;
}
}

@media (min-width: 1920px) {
.heroarea{
 height: 1000px;
}
}

@media (min-width: 2400px) {
.heroarea{
 height: 1100px;
}
}


.grid-general-analisis-blue
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 10px 10px;
}

.grid-general-analisis-pink
{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 10px 10px;
}

.buttontab-container {
  display: grid;
  width: 100%;
  align-content: center;
  justify-items: center;
}

/* Style the tab */
.buttontab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  background-color:transparent;
  max-height: 50PX;
  padding: 25px 5px;
  max-height: 600px;
  min-width: 290px;
  width: 30vw;
  max-width: 400px;
}



/* Style the tab */
.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  background-color:transparent;
  max-height: 50PX;
  padding: 25px 5px;
  width: 310px;
  max-height: 600px;
}


/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  width: 80%;
  min-width: 310px;
}


/* Style the buttons inside the tab */
.pink-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
 align-items: center;
  font-family: "raleway";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 400;
  border-radius: 100PX;
  color: white;
   min-width: 128px;
  width: 15vw;
  max-width: 170px;
    font-size: 14px;
    background-color: #FE73EA;
  
}




/* Change background color of buttons on hover */
.pink-button:hover {
  background-color: #D64BC2;
}

/* Create an active/current tablink class */
.pink-button.active-button {
  background-color: #D64BC2;
  content: "\2665";
    font-weight: 900;
}

/* Style the buttons inside the tab */
.blue-button {
    display: grid;
  grid-template-columns: 1fr 1fr;
 align-items: center;
  font-family: "raleway";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 400;
  border-radius: 100PX;
  color: white;
  min-width: 128px;
  width: 15vw;
  max-width: 170px;
  background-color: grey;
  font-size: 14px;
  background-color: #6CBDEF;
}


/* Change background color of buttons on hover */
.blue-button:hover {
  background-color: #0474BA;
}

/* Create an active/current tablink class */
.blue-button.active-button {
  background-color: #0474BA;
  content: none;
   font-weight: 900;
}


.barra-analisis
{
  display: flex;
  height: 150px;
}

.button-info-analisis {
   display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  color: white;
  text-align: center;
  width: 150px;
}
}

/************************** TOTALES  **********************/

.totales-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  grid-template-rows: 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.totales-section {
  width: 100%;
  display: grid;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

.totales-container {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px  50px;
}


@media (min-width: 100px) {
  .totales-container {
    width: 80%;
  }
}

@media (min-width: 410px) {
  .totales-container {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .totales-container {
    width: 90%;
  }
}

@media (min-width: 700px) {
  .totales-container {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .totales-container {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .totales-container {
    width: 90%;
  }
}

.totales-header {
  font-weight: 600;
  float: left;
  padding: 10 px 60px;
  width: 85%;
  align-self: center;

}

@media (min-width: 300px) {
  .totales-header {
    text-align: center;
    font-size: calc(16px + .2vw );
  }
}



.block-totales {
  margin: 5px;
  display: grid;
  min-width: 230px;
  width: 15vw;
  max-width: 270px;
  border-color: #DDDDDD;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .block-totales {
   max-width: 240px;
  }
}

.block-totales-row
{
  display: flex;
  b
}


.totales-text-blue
{
  color: #0474BA;
  font-size: 16px;
}

.totales-text-pink
{
  color: #D64BC2;
  font-size: 16px;
}

.totales-text-green
{
  color: #04BA58;
  font-size: 16px;
}

.totales-text-grey
{
  color: #858585;
  font-size: 16px;
}
/************************** ACCORDION GENERAL  **********************/

.analisis-partidas-header
{
  font-size: 16px;
  font-weight: 200;
}

.analisis-partidas-montos
{
  font-size: 14px;
  font-weight: 200;
  float: right;

}

.analisis-partidas-montos-grey
{
  font-size: 15px;
  font-weight: 200;
  float: right;
  color: grey;

}



.montos-header {
  font-size:calc(14px + .2vw);
  font-weight: 600;
}

 @media (min-width: 900px) {
.montos-header{
font-size: 18px;
}
}

.accordion-images-container {
  overflow: hidden;
  width: 100%;
  height: 100% ;
  display: grid;
  justify-items: center;
  align-items: center;
}

.accordion-images {
  overflow: hidden;
  width: 100%;
  height: 110% ;
}

@media (max-width: 600px) {
.accordion-images-container{
opacity: 20%;
width: 0vw;
}
}

@media (max-width: 700px) {
.accordion-images{
height: 150%;
width: 400%;
align-self: center;
}
}

.accordion-info-container {
  padding: 5px;
  width: 100%;
}


@media (min-width: 100px) {
.accordion-info-container{
  width: 90%;
  left: 10px;
}
}

@media (max-width: 600px) {
.accordion-info-container{
  width: 70vw;
}
}


@media (min-width: 600px) {
.accordion-info-container{
  width: 90%;
}
}



.panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.ver-analisis{
text-align: right;
justify-self: center;
height: 15px;
}

.analisis-project-name{
display: grid;
grid-template-columns: .2fr 1fr;
justify-items: center;
align-items: center;
text-align: center;
height: 100%;
font-weight: 400;
font-size: 15px + .2vw ;
}


@media (min-width: 100px) {
.analisis-project-name{
  padding: 0px;
}
}

@media (min-width: 600px) {
.analisis-project-name{
  padding: 0px 8px;
}
}

@media (min-width: 900px) {
.analisis-project-name{
  padding: 0px 25px;
}
}

@media (min-width: 1400px) {
.analisis-project-name{
  padding: 0px 35px;
}
}


@media (min-width: 2400px) {
.analisis-project-name{
  padding: 0px 45px;
}
}


/********************** ACCORDION ANALISIS FINANCIERO PINK  *****************/


.accordion {
  display: grid;
  grid-template-columns: .8fr .5fr .1fr;
  align-items: center;
  background-color: #D64BC2;
  color: white;
  cursor: pointer;
  padding: 0px, 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
   font-family: 'Raleway', sans-serif;
   border-top: orange;
   border-width: 20px;
   margin: 2px 0px;
   height: 80px;
   max-height: 900px;

}

@media (max-width: 500px) {
.accordion {
font-size: 13px;
  }
}

.active, .accordion:hover {
  color: white;
background: rgb(181,3,155);
background: radial-gradient(circle, rgba(181,3,155,1) 0%, rgba(255,46,223,1) 60%, rgba(181,3,155,1) 100%);
transition: .8s ease-out;
  height: 90px;
}

.accordion:after {
  content: '\1F82A';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  float: right;
   margin: 5px;
    padding-right: 20px;
}



.active:after {
  content: "\1F827";
  color: white;
  float: right;
}


.accordion-pink-2 {
  display: grid;
  grid-template-columns: .8fr .5fr .1fr;
  align-items: center;
  background-color: #B5039B;
  color: white;
  cursor: pointer;
  padding: 0px, 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
   font-family: 'Raleway', sans-serif;
   border-top: orange;
   border-width: 20px;
  height: 80px;

}

@media (max-width: 500px) {
.accordion-pink-2 {
font-size: 13px;
  }
}


.active-2, .accordion-pink-2:hover {
  color: white;
  height: 90px;
background: rgb(181,3,155);
background: radial-gradient(circle, rgba(181,3,155,1) 0%, rgba(255,46,223,1) 60%, rgba(181,3,155,1) 100%);
transition: .8s ease-out;
    font-family: 'Raleway', sans-serif;
}

.accordion-pink-2:after {
  content: '\1F82A';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  float: right;
   margin: 5px;
   padding-right: 20px;
}



.active-2:after {
  content: "\1F827";
  color: white;
  float: right;
}



.dot-pink {
  height: 15px;
  width: 15px;
  background-color: #D64BC2;
  border-radius: 50%;
  display: inline-block;
}


.bar-monto-grey {
  height: 15px;
  width: 100%;
  background-color: #EDEDED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink

{
  height: 15px;
  width: 100%;
  background-color: #DD01BD;
  border-radius: 5px;
  display: inline-block;
}


.bar-monto-pink-90

{
  height: 15px;
  width: 90%;
  background-color: #D64BC2;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-80

{
  height: 15px;
  width: 80%;
  background-color: #D64BC2;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-70

{
  height: 15px;
  width: 70%;
  background-color: #D64BC2;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-60

{
  height: 15px;
  width: 60%;
  background-color: #D64BC2;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-50

{
  height: 15px;
  width: 50%;
  background-color: #FF83ED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-40

{
  height: 15px;
  width: 40%;
  background-color: #FF83ED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-30

{
  height: 15px;
  width: 30%;
  background-color: #FF83ED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-20

{
  height: 15px;
  width: 20%;
  background-color: #FF83ED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-pink-10

{
  height: 15px;
  width: 10%;
  background-color: #FF83ED;
  border-radius: 5px;
  display: inline-block;
}



/********************** ACCORDION ANALISIS FINANCIERO BLUE *****************/

.accordion-blue {
  display: grid;
  grid-template-columns: .8fr .5fr .1fr;
  align-items: center;
  background: #48A7E2;
  color: white;
  cursor: pointer;
  padding: 0px, 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
   font-family: 'Raleway', sans-serif;
   border-width: 20px;
   height: 80px;
}

@media (max-width: 500px) {
.accordion-blue {
font-size: 12px;
  }
}

.active-blue, .accordion-blue:hover {
   transition: 1s ease-out;
   height: 90px;
background: rgb(0,125,202);
}

.accordion-blue:after {
  content: '\1F82A';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  float: right;
   margin: 5px;
    padding-right: 20px;
}



.active-blue:after {
  content: "\1F827";
  color: white;
  float: right;
}


.accordion-blue-2 {
  display: grid;
  grid-template-columns: .8fr .5fr .1fr;
  align-items: center;
  background-color: #0474BA;
  color: white;
  cursor: pointer;
  padding: 0px, 35px;
  margin: 2px 0px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
   font-family: 'Raleway', sans-serif;
   border-width: 20px;
  height: 80px;

}

@media (max-width: 500px) {
.accordion-blue-2 {
font-size: 12px;
  background: rgb(2,116,186);
  }
}

.active-4, .accordion-blue-2:hover {
  color: white;
   transition: 1s ease-out;
   height: 90px;
  background: rgb(2,116,186);
    font-family: 'Raleway', sans-serif;
}

.accordion-blue-2:after {
  content: '\1F82A';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  float: right;
   margin: 5px;
   padding-right: 20px;
}



.active-4:after {
  display: grid;
  align-self: center;
  content: "\1F827";
  color: white;
  float: right;
}


.dot-blue {
  height: 15px;
  width: 15px;
  background-color: #0474BA;
  border-radius: 50%;
  display: inline-block;
}

.bar-monto-blue {
  height: 15px;
  width: 100%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}


.bar-monto-grey {
  height: 15px;
  width: 100%;
  background-color: #EDEDED;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-90

{
  height: 15px;
  width: 90%;
  background-color: #00A7E1;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-80

{
  height: 15px;
  width: 80%;
  background-color: #00A7E1;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-70

{
  height: 15px;
  width: 70%;
  background-color: #00A7E1;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-60

{
  height: 15px;
  width: 60%;
  background-color: #00A7E1;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-50

{
  height: 15px;
  width: 50%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-40
{
  height: 15px;
  width: 40%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-30
{
  height: 15px;
  width: 30%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-20
{
  height: 15px;
  width: 20%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}

.bar-monto-blue-10
{
  height: 15px;
  width: 10%;
  background-color: #0474BA;
  border-radius: 5px;
  display: inline-block;
}

/**********************  PAGINATION STYLE BLUE*****************/

.pagination-container-proyectos-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);    
}


.pagination-container-proyectos-blue button {
    background-color: #424242;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.pagination-container-proyectos-blue button:hover {
    background-color: #6CBDEF;
}

.pagination-container-proyectos-blue button.active {
    background-color: #0474BA;
}

.pagination-container-proyectos-blue button.active:after {
    content: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.pagination-container-proyectos-blue span {
    color: #000000;
    margin: 10px;
}

.pagination-container-proyectos-blue button.page {
    font-weight: 800;
}

.pagination-container-proyectos-blue button.disabled {
    background-color: #424242;
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-container-proyectos-blue.hidden {
    display: none;
}



/**********************  PAGINATION STYLE PINK*****************/

.pagination-container-proyectos-pink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);    
}


.pagination-container-proyectos-pink button {
    background-color: #424242;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.pagination-container-proyectos-pink button:hover {
    background-color: #E09DD7;
}

.pagination-container-proyectos button.active {
    background-color: #D64BC2;
}

.pagination-container-proyectos-pink button.active:after {
    content: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.pagination-container-proyectos-pink span {
    color: #000000;
    margin: 10px;
}

.pagination-container-proyectos-pink button.page {
    font-weight: 800;
}

.pagination-container-proyectos-pink button.disabled {
    background-color: #424242;
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-container-proyectos-pink.hidden {
    display: none;
}

